<li class="header">Categories</li>
@foreach(IDocument group in Outputs.FromPipeline("AddinCategories"))
{
    string selectedClass = group.GetString(Keys.GroupKey) == Model.GetString(Keys.GroupKey) ? "selected" : null;
    <li class="@selectedClass"><a href="@Context.GetLink(group)">@group.GetString(Keys.GroupKey)</a></li>    
}